.h5_uploads::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.h5_uploads { zoom: 1; }

.h5_uploads .up_selector{
    float: left;
    width:80px;
    height:80px; margin:5px;
    cursor: pointer;
    font-size:40px;
    background:#fff;
    color:gray;
    line-height:80px;
    text-align:center;
    border:1px solid #ccc;
}

.h5_uploads .up_list{
    display: inline;
}

.h5_uploads .up_item{
    width:80px; height: 80px;
    margin:5px; overflow: hidden;;
    position: relative;
    float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.h5_uploads .up_item a{
    color:#fff;
    position: absolute;
    top:-3px; right: -3px;
    background: #000;
    opacity: 0.8;
    cursor: pointer;
    font-size: 12px;
    padding:0 4px;
    line-height:16px;
}
.h5_uploads .up_item progress{
    width:100%;
    margin-top:5px;
    position: absolute;
    bottom: 0;
    left:0;
    opacity: 0.5;
    display: none;
}
.h5_uploads .up_item img{
    max-width:100%;
    cursor: pointer;
}
.outer-links{position:fixed; top:0; bottom:0; left:0; right:0; z-index:100; background:rgba(0,0,0,.8); display:none;}
.outer-links .boxs{position:fixed; top:10%; bottom:10%; left:10%; right:10%; overflow:auto;}
.outer-links .img-box {
    position:absolute; width:100%; top:50%; left:50%; background:#fff;
    padding:10px 0 10px 10px; transform:translate3d(-50%,-50%,0);
}
.outer-links .img-box .box {
    display:inline-block; width:80px; height:80px; margin:10px; border:1px solid #f0f0f0; cursor:pointer;
    text-align:center; overflow:hidden;
}
.outer-links .img-box .box img{max-width:100%;}
.outer-links .img-box .cur{outline:rgb(62, 147, 255) solid 2px; transition:all 0.2s ease 0s;}